@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: grey;
}

.content {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto 0;
}

.buttons {
  display: flex;
  gap: 4px;
}

.header {
  display: flex;
  padding: 0px 10px;
  font-size: 12px;
}

.footer {
  display: flex;
  background-color: rgb(221, 219, 219);
  padding: 0px 10px;
  font-size: 12px;
  margin-top: auto;
}

.left-links {
  display: flex;
  gap: 20px;
  margin-right: auto;
}

.right-links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}