@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: grey;
}

.header {
  display: flex;
  padding: 20px;
}

.footer {
  display: flex;
  background-color: rgb(221, 219, 219);
  padding: 10px;
}

.left-links {
  display: flex;
  margin: 0 auto 0 0;
  gap: 20px;
}

.right-links {
  display: flex;
  margin: 0 0 0 auto;
  gap: 20px;
}