body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
  margin-block: 0;
  padding: 0;
}

.header {
  background: darkmagenta;
  color: white;
  font-weight: 900;
  padding: 10px;
}

.footer {
  height: 39px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  width: 200px;
  justify-content: flex-start;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 255px;
  height: 265px;
  padding: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 25px;
}