body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.card {
  width: 800px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin: 20px, 10px, 10px, 10px;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 20px, 15px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  padding: 15px, auto;
  display: block;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 1px, auto, auto, 15px;
  padding: 17px;
}